.page-template-page-home
  .section-hero
    position: relative
    background-color: #464646
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    overflow: hidden
    &__title
      font-size: 48px
      margin-bottom: 40px
    &__description
      margin-bottom: 100px
    &__btn
      background-color: $main-color
      width: 60px
      height: 60px
      border-radius: 100%
      display: flex
      justify-content: center
      align-items: center
      svg
        margin-top: 9px
        display: block
    
    .section
      &__title
        font-family: $roc-grotesk-wide-font
        font-size: 36px
        font-weight: 600
        color: #ffffff
        line-height: 32px
      &__description
        font-family: $roc-grotesk-font
        font-size: 14px
        font-weight: 300
        color: #ffffff


/*RESPONSIVE*/
@include media-breakpoint-down(lg)
  .page-template-page-home
    .section-hero
      align-content: flex-end
      min-height: 95vh