#main-footer
  .footer-content
    padding-top: 70px
    padding-bottom: 70px
    background-color: $dark-color
    svg
      width: 90%
      max-width: 100%
      object-fit: cover
    .destination-logo
      text-align: right
      img
        width: 80%
        height: auto
        max-width: 100%
        object-fit: cover
    .footer-nav
      list-style: none
      padding-left: 0
      margin-bottom: 0
      .menu-item
        a
          text-decoration: none
          color: #fff
          font-family: $roc-grotesk-font
          font-size: 16px
          font-weight: 300
          line-height: 32px
          letter-spacing: 0.16px
          transition: color .4s ease-in-out
          &:hover
            color: $accent-color
  .footer-copyright
    padding-top: 10px
    padding-bottom: 10px
    background-color: darken($dark-color, 1%)
    .copyright,
    .developed-by
      font-size: 12px
      color: #455e58
      margin-bottom: 0px
      a
        text-decoration: none
        color: #455e58
        transition: color .4 ease-in-out
        &:hover
          color: $accent-color
    .developed-by
      text-align: right

@include media-breakpoint-down(lg)
  #main-footer
    .footer-content
      svg
        width: auto
        margin-bottom: 30px
      .destination-logo
        text-align: left
        img
          width: 70%
      .footer-nav
        margin-bottom: 30px
    .footer-copyright
      .copyright
        margin-bottom: 5px
      .developed-by
        text-align: left

@include media-breakpoint-down(md)
  #main-footer
    .footer-content
      .destination-logo
        img
          width: 60%