#main-header
  .navbar
    padding-top: 40px
    padding-bottom: 30px
    background-color: transparent
    transition: all 600ms ease-in-out
    .site-branding
      .navbar-brand
        display: block
        .custom-logo
          width: 100%
          object-fit: cover
          transition: all 600ms ease-in-out
          path
            transition: all 600ms ease-in-out
    .navbar-actions
      display: flex
      align-items: center
      .navbar-toggler
        position: relative
        width: 30px
        height: 30px
        padding: 0
        transition-duration: 0.5s
        outline: none
        box-shadow: none
        border: 0
        &:focus,
        &:active
          outline: none
          box-shadow: none
          border: 0
        .icon-left
          @include navbar-toggler-icon(2px, 15px)
          &::before
            @include navbar-toggler-icon-pseudo(2px, 15px, -8px)
          &::after
            @include navbar-toggler-icon-pseudo(2px, 15px, 8px)
          &:hover
            cursor: pointer
        .icon-right
          @include navbar-toggler-icon(2px, 15px)
          left: 15px
          &::before
            @include navbar-toggler-icon-pseudo(2px, 15px, -8px)
          &::after
            @include navbar-toggler-icon-pseudo(2px, 15px, 8px)
        &:not(.collapsed)
          .icon-left
            transition-duration: 0.5s
            background-color: transparent
            &::before
              transform: rotateZ(45deg) scaleX(1.4) translate(1px, 1px)
            &::after
              transform: rotateZ(-45deg) scaleX(1.4) translate(1px, -1px)
          .icon-right
            transition-duration: 0.5s
            background-color: transparent
            &::before
              transform: rotateZ(-45deg) scaleX(1.4) translate(-1px, 1px)
            &::after
              transform: rotateZ(45deg) scaleX(1.4) translate(-1px, -1px)
      .wpml-ls-statics-shortcode_actions
        margin-left: 30px
        width: auto
        > ul
          display: inline-block
          .wpml-ls-item-toggle
            padding: 0px 10px
            border: 0
            transition: all .4s ease-in-out
            background-color: transparent
            color: #fff
            display: inline-block
            &::after
              display: none
            .wpml-ls-native
              font-family: $roc-grotesk-font
              font-weight: 500
              font-size: 16px
          .wpml-ls-sub-menu
            top: 130%
            border: 0
            &::before
              content: ''
              display: block
              position: absolute
              top: -5px
              left: 50%
              transform: translateX(-50%)

              border-left: 5px solid transparent
              border-right: 5px solid transparent

              border-bottom: 5px solid $dark-color

              transition: all .4s ease-in-out
            .wpml-ls-item
              .wpml-ls-link
                font-family: $roc-grotesk-font
                font-weight: 500
                font-size: 16px
                border: 0
                padding: 10px
                color: #fff
                background-color: $dark-color
                transition: all .4s ease-in-out
                display: inline-block
                &:hover
                  color: $main-color
                .wpml-ls-native



    .navbar-collapse.collapsing
      transition: height 600ms ease-in-out
    .navbar-collapse
      .navbar-nav
        min-height: calc( 100vh - 130px )
        justify-content: center
        align-items: center
        .nav-item
          .nav-link
            font-family: $roc-grotesk-font
            font-weight: normal
            font-size: 36px
            line-height: 96px
            letter-spacing: 0.36px
            color: #fff
            transition: all .4s ease-in-out
            &:hover
              color: $dark-color
  .navbar.nav-open
    background-color: $main-color
    transition: background-color 600ms ease-in-out
    .navbar-collapse
      .navbar-nav
        min-height: calc( 100vh - 90px )



#main-header.sticky
  .navbar:not(.nav-open)
    padding-top: 15px
    padding-bottom: 15px
    background-color: #fff
    box-shadow: 0px -1px 4px 0px rgb(0 0 0 / 20%)
    .site-branding
      .navbar-brand
        .custom-logo
          width: 90%
          path
            fill: $main-color !important
    .navbar-actions
      .navbar-toggler
        .icon-left,
        .icon-right
          background-color: #fff
          &::before,
          &::after
            background-color: $main-color
          &:not(.collapsed)
            background-color: $main-color
      .wpml-ls-statics-shortcode_actions
        .wpml-ls-item-legacy-dropdown
          .wpml-ls-item-toggle
            color: $main-color
  .navbar.nav-open
    padding-top: 15px
    padding-bottom: 15px
    .site-branding
      .navbar-brand
        .custom-logo
          width: 90%
          path
            fill: #fff !important
    .navbar-actions
      .navbar-toggler
        .icon-left,
        .icon-right
          background-color: transparent
          &::before,
          &::after
            background-color: #fff
      .wpml-ls-statics-shortcode_actions
        .wpml-ls-item-legacy-dropdown
          .wpml-ls-item-toggle
            color: #fff

/*body:has(.navbar-collapse.collapse.show)
  height: 100vh
  overflow-y: hidden*/
@include media-breakpoint-down(md)
  #main-header
    .navbar
      .site-branding
        .navbar-brand
          .custom-logo
            width: 85%
      .navbar-collapse
        .navbar-nav
          min-height: calc( 100vh - 130px )
          .nav-item
            .nav-link
              font-size: 32px
              line-height: 52px
  #main-header.sticky
    .navbar:not(.nav-open)
      .site-branding
        .navbar-brand
          .custom-logo
            width: 85%
    .navbar.nav-open
      .site-branding
        .navbar-brand
          .custom-logo
            width: 85%

@include media-breakpoint-down(sm)
  #main-header
    .navbar
      .site-branding
        .navbar-brand
          .custom-logo
            width: 80%
      .navbar-collapse
        .navbar-nav
          min-height: calc( 100vh - 130px )
          .nav-item
            .nav-link
              font-size: 28px
              line-height: 48px
  #main-header.sticky
    .navbar:not(.nav-open)
      .site-branding
        .navbar-brand
          .custom-logo
            width: 80%
    .navbar.nav-open
      .site-branding
        .navbar-brand
          .custom-logo
            width: 80%