.sections
  &__title
    font-family: $roc-grotesk-wide-font
    font-size: 36px
    font-weight: 600
    line-height: 32px
  &__description
    font-family: $roc-grotesk-font
    font-size: 14px
    font-weight: 300