html
  scroll-behavior: smooth

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.grecaptcha-badge
  visibility: hidden


.grid-spa-sizer,.grid-spa-item
  width: 20%
.grid-spa-item--width2
  width: 40%