/*header*/
.main-header
    position: relative
    z-index: 9

.main-content
    margin-top: -59px


/*RESPONSIVE*/
@include media-breakpoint-down(lg)
    .container
        &__main-menu
            display: none