.single-spa
  .spa-meta
    list-style: none
    padding: 0
    margin: 0
    display: flex
    align-items: center
    margin-top: 20px
    margin-bottom: 20px
    li
      display: flex
      align-items: center
      margin-right: 20px
      font-family: $roc-grotesk-font
      font-size: 16px
      font-weight: 300
      text-decoration: none
      color: #747474
      margin-bottom: 0
      &:last-of-type
        margin-right: 0
      svg
        margin-right: 10px
        .a
          fill: #b1cbc5
      a
        font-family: $roc-grotesk-font
        font-size: 16px
        font-weight: 300
        text-decoration: none
        color: #747474
        margin-bottom: 0
        display: inline-block
      p
        margin-bottom: 0

