.spa, .offer, .event
    &__filter
        &-button
            font-family: $roc-grotesk-font
            font-size: 14px
            color: #6E6E6E
            border: 2px solid #DBDBDB
            border-radius: 20px
            background-color: #ffffff
            padding: 10px 15px
            margin-right: 10px
            text-decoration: none
            cursor: pointer
            &-group
                margin-bottom: 50px
            &:hover
                color: $main-color
                border-color: $main-color
            &.is-checked
                color: $main-color
                border-color: $main-color
                span
                    display: inline
            span
                padding-right: 10px
                display: none
        &-title
            font-family: $roc-grotesk-font
            font-size: 16px
            color: $main-color
        &-name
            font-family: $roc-grotesk-font
            font-size: 14px
            color: #202020

.grid
    &__empty
        display: none
        &-text
            font-family: $roc-grotesk-font
            font-size: 16px
            color: #0F201C
            padding: 10px 0