.spa
    &__filter
        &-button
            font-family: $roc-grotesk-font
            font-size: 14px
            color: #6E6E6E
            border: 2px solid #DBDBDB
            border-radius: 20px
            background-color: #ffffff
            padding: 8px 15px
            margin-right: 10px
            &-group
                margin-bottom: 50px
            &:hover
                color: $main-color
                border-color: $main-color
        &-title
            font-family: $roc-grotesk-font
            font-size: 16px
            color: $main-color
        &-name
            font-family: $roc-grotesk-font
            font-size: 14px
            color: #202020